#cmake
*/CMakeFiles/*
*/CMakeCache.txt
*/cmake_install.cmake
*/Makefile

#output images (disabled for now!)
#tcc-outputs/*

#mark compiled outputs with whatever extension, so we ignore them!
*.out
*.o

#vscode
.vscode/
